* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  font-family: Tahoma;
}


body {
  background-image: url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
	padding: 0;
}

/*Menu*/
header {
  height: 85px;
  background-image: radial-gradient(circle at 114.23% 38.68%, #cde836 0, #b1e12f 16.67%, #8fd723 33.33%, #63c80f 50%, #23b900 66.67%, #00ad04 83.33%, #00a517 100%);
}


.logo img {
  width: 100px;
  margin-top: 15px;
  margin-left: 15px;

}



.logo {
  float: left;
}


.menu {
  float: right;
}


.menu ul {
  margin-top: 30px;
}


.menu li {
  display: inline-block;
  padding: 0 10px;
}


.menu a {
  color: #542f0c;
  text-decoration: none;
}


.menu a:hover {
  color: #13c288;
  font-weight: normal;
}

nav li a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #13c288;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
}

nav li a:hover {
  background-color: #13c288;
}

img{
    border-radius: 15px;
}

.titulo-livro h1{
  text-align: center;
  color: #13c288;
  font-size: 30px;
}

.livroimg img{
  border: solid 5px #13c288;
}

.conteudo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.conteudo .botoes{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 100px 50px;
  background-color: rgb(67, 141, 44);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 400px;
  height: 500px;
}

.conteudo .botoes button {
  background-color: #13c288;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 30px 50px;
  border-radius: 40px;
  margin: 10px 20px;
  white-space: nowrap;
  border: #13c288;
}

.sinopse{
  margin: 20px;
}

.resumo h2{
  color: #13c288;
  font-size: 30px;
  text-align: center;
}

.resumo{
  padding: 15px;
  border-radius: 30px;
}

.informacoes{
  display: flex;
  position: relative;
  color: #13c288;
}

.info{
  background-color: rgb(67, 141, 44);
  width: 100%;
  margin: 20px;
  text-align: center;
  border-radius: 30px;
}

.info p{
  background-color: #13c288;
  padding: 20px 100px;
  text-align: left;
}

.info h2{
  font-size: 40px;
}

.info p{
  font-size:x-large;
  text-align: center;
  color: rgb(0, 0, 0);

}

.container{
  background-color: rgb(67, 141, 44);
  text-align: center;
}

.container a{
  text-decoration: none;
  color: #542f0c;
}

.resumo{
  background-color: rgb(67, 141, 44);
}

/*rodapé*/

footer{
background-color: #f8f8f8;
}

.container-footer{
  max-width: 1400px;
  padding: 0 4%;

}

.row-footer{
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.footer-col{
  padding: 0 50px;
  width: 25%;
  display: grid;
}

.footer-col h4{
  color: white;
  font-size: 22px;
  margin-top: 5px;
  font-weight: 800;
  text-transform: uppercase;
}

.footer-col .form-insc input {
  flex: 1px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  background-color: white;
  border: 1px solid white;
}

.footer-col .form-insc button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background-color: white;
}

/*media query*/
@media (max-width: 850px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}

@media (max-width: 600px){
  .footer-col{
      width: 100%;
  }
}

/*rodapé*/
.rodape{
background: rgb(67, 141, 44);
text-align: center;
}

.container-blocos{
display: flex;
justify-content: center;
}

.links-medias{
display: flex;
flex-direction: column;
margin-top: 60px;
}

.links-medias a{
color: white;
}

.container-direitos{
width: 100%;
}

.container-direitos a{
  text-decoration: none;
  color: black;
}

#linktopo{
  text-decoration: none;
  color: #13c288;
  font-size: 20px;
  background-color: #00a517;
  padding: 10px;
  right: 30px;
  position: fixed;
  bottom: 30px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  
}

